{% extends "base.html" %}

{% block container %}
<body>
  {% include "menu.html" %}
  <main class="container mt-3">
 {% include "header.html" %}

    <section>
      {% for category in categories %}
      <h3 class="my-4">{{category.title}}</h3>
      <div class="row mt-4">
        {% for meal in meals[category.id] %}
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <img src="static/pictures/{{meal.picture}}"  class="card-img-top" alt="">
            <div class="card-body">
              <h4 class="h5 card-title">{{meal.title}}</h4>
              <p class="card-text">{{meal.description|truncate(32,True)}}</p>
                {% if meal.id not in cart_info['cart'] %}
              <a href="/addtocart/{{meal.id}}" class="btn btn-danger">В корзину ({{meal.price}} р)</a>
                {% else %}
                <a href="/cart/" class="btn btn-secondary">Уже в корзине ({{meal.price}} р)</a>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
       {% endfor %}
    </section>
  </main>
{% endblock %}
{% include "footer.html" %}
